@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300;400&display=swap');



$fontWidhtxl:5rem;
$fontWidhtl: 3rem;
$fontWidhtm: 2rem;
$fontWidhts: 1rem;
$fontWidhtxs: 0.1rem;
$fontWidhnavbar:0.8rem;
$fontWidhnavbar2:1.2rem
