


$keyColorBar:linear-gradient(0deg, rgba(170,193,194,1) 0%, rgba(172,203,203,1) 20%, rgba(170,209,208,1) 38%, rgba(183,232,227,1) 53%, rgba(207,252,249,1) 71%, rgba(212,242,241,1) 84%, rgba(218,252,255,1) 100%);
$borderColor:rgb(56, 3, 3);
$boxColor:#BD2E2E;
$blackL:rgba(7, 7, 7, 0.85);
$placa:rgba(151, 101, 9, 0.85);
$fontColor:#1380e6;
$colorCarr:rgba(4, 49, 50,0.79%);
$colorCarr2:rgba(4, 49, 50,0.2%);
$carusellColor:rgba(151, 101, 9, 1);
$black:rgba(2, 2, 2,0.2);
$blacksh:rgba(7, 7, 7, 0.26);
$grey:#454242dc;
$greyclaro:radial-gradient(circle, rgba(88,88,88,1) 0%, rgba(148,145,145,1) 15%, rgba(199,195,195,1) 41%, rgba(255,255,255,1) 100%);
$white:rgba(252, 245, 245, 0.932);



$minWidht:1rem;
$medWidht:2rem;
$maxWidht:3rem
