<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KamarTaj- Viajes Extraordinarios</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../style/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="../index.html">
				<img src="../Img/logo.jpg" alt="logo de KamarTaj viajes diferentes" class="imagineSize">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class=" me-auto mb-2 mb-lg-0 menu grid-imagen">
					<li class="nav-item">
						<a class="active" aria-current="page" href="views/historia y recorrido.html">Historia y
							Recorridos
							<span class="border border-top"></span>
							<span class="border border-right"></span>
							<span class="border border-bottom"></span>
							<span class="border border-left"></span>
						</a>
					</li>
					<li class="nav-item">
						<span>
							<a class="active" href="../views/consideraciones.html">Consideraciones
								<span class="border border-top"></span>
								<span class="border border-right"></span>
								<span class="border border-bottom"></span>
								<span class="border border-left"></span>
							</a>
						</span>
					</li>
					<li class="nav-item">
						<a class="active" href="../views/paquetes.html">Paquetes
							<span class="border border-top"></span>
							<span class="border border-right"></span>
							<span class="border border-bottom"></span>
							<span class="border border-left"></span>
						</a>
					</li>
					<li class="nav-item">
						<span>
							<a class="active" href="../views/contactanos.html">Contactanos
								<span class="border border-top"></span>
								<span class="border border-right"></span>
								<span class="border border-bottom"></span>
								<span class="border border-left"></span>
							</a>
						</span>
					</li>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<header>
			<img src="../img/consideraciones.jpg" alt="Imagen en la pestaña de consideraciones">
		</header>
		<div class="bodyImg2">
			<section>
				<div class="boxBorder">
					<h1 class="bgDarkSize">Antes de Empezar tu viaje tenes que saber estas cosas</h1>
					<p class="pSize">Debes recordar que estos viajes son realizados en lugares donde las condiciones
						climaticas, sanitarias y de la zona no son optimas es por eso que es importante y olbigatorio
						realizarce los controles medicos y psicologicos certificados dependiendo del lugar donde se
						realice el viaje</p>
				</div>
				<div class="boxBorder">
					<h2 class="bgDarkSize">Equipamiento y condiciones necesarias para el trayecto</h2>
					<p class="pSize"> Cada zona es diferente una de otra es por eso que previamente a realizar el viaje
						nuestro personal le enviara toda la indumentaria y equipamiento necesario para poder realizar el
						viaje de la mejor manera y sin inconvenientes; pudiendo obetenerlos de manera autonoma o puede a
						traves de nosotros adquirir cualquier equipamiento. SI NO SE POSEEN LOS EQUIPAMIENTOS NECESARIO
						A LA HORA DEL CONTROL DEL MISMO NO PODRÁ REALIZAR EL VIAJE </p>
				</div>
			</section>
		</div>

	</main>
	<footer>
		<div>
			<a href="https://www.facebook.com/" target="_blank"> <img src="../img/facebook.png" class="pieInde"></a>
			<a href="https://www.twitter.com/" target="_blank"><img src="../img/twitter.png" class="pieInde"></a>
			<a href="https://www.instagram.com/" target="_blank" class="pieIcon"><img src="../img/instagram.png"
					class="pieInde"></a>
		</div>

		<div class="pieIndex">
			<strong>
				Direccion: Av. Rivadavia 380
				Cordoba
				Cordoba- Argentina
			</strong>
			<strong>
				Informacion:
				(0351) 155678954
				Karma@travel.com
			</strong>
		</div>
	</footer>
	<script src="../js/bootstrap.min.js"></script>
</body>

</html>