<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Everest, viajes exoticos, viajar">
    <meta name="descripcion" content="Empresa de viajes exoticos y pocos comunes">
    <title>KamarTaj- Viajes Extraordinarios</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
</head>

<body class="errorsice">
    <h1 class="bgDarkSize"> ERROR 404</h1>
    <p> OOOOH CREO QUE NOS HEMOS PERDIDO!!!!!! DEBERIAMOS VOLVER AL PRINCIPIO</p>
    <img src="../Img/hombreperdido.jpg" alt="imagen404" class="Imagen404">
    <script src="js/bootstrap.min.js"></script>

    <a href="views/index.html">
        <button class="btn" id="buttonPos4" type="submit">Inicio
        </button>
    </a>

</body>

</html>