<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KamarTaj- Viajes Extraordinarios</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../style/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="../index.html">
				<img src="../Img/logo.jpg" alt="logo de KamarTaj viajes diferentes" class="imagineSize">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class=" me-auto mb-2 mb-lg-0 menu grid-imagen">
					<li class="nav-item">
						<span>
							<a class="active fontNav" href="../views/consideraciones.html">Consideraciones
								<span class="border border-top"></span>
								<span class="border border-right"></span>
								<span class="border border-bottom"></span>
								<span class="border border-left"></span>
							</a>
						</span>
					</li>
					<li class="nav-item">
						<a class="active fontNav" href="../views/paquetes.html">Paquetes
							<span class="border border-top"></span>
							<span class="border border-right"></span>
							<span class="border border-bottom"></span>
							<span class="border border-left"></span>
						</a>
					</li>
					<li class="nav-item">
						<span>
							<a class="active fontNav" href="../views/contactanos.html">Contactanos
								<span class="border border-top"></span>
								<span class="border border-right"></span>
								<span class="border border-bottom"></span>
								<span class="border border-left"></span>
							</a>
						</span>
					</li>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="mainGrid">
		<header>
			<img src="../img/excursion.jpg" alt="Imagen de la pagina HYR" class="ImgSize">
		</header>
		<div>
			<div class="boxBorder">
				<h1 class="bgDarkSize">Quienes somos</h1>
				<p class="pSize">Somos una empresa de experiencias y nuevos desafio dentro del mundo. Aqui puede crear y
					encontrar ese viaje tan soñado y tan exotico que alguna vez te planteaste realizar. Aqui vas a poder
					realizar expereiencias diferente como escalar el Everest, recorrer el Amazonas o incluso disfrutar
					una noche en el desierto del Sahara; TODO LO QUE IMAGINASTE PUEDE SER REAL</p>
			</div>
			<div>
				<h2 class="bgDarkSize">Recorridos y experiencias</h2>
				<div class="viaJero">
					<img src="../img/viajero1.jpg" alt="Imagen de la pagina HYR" class="imgvia">
					<p class="pSize2" id="pSize2">Marcos es uno de nuestros viajeros, el cumplio el sueño de escalar el
						Everest "sentir la adrenalina de escalar la montaña mas alta del mundo y llegar a la cima me
						abrió mucho la cabeza"</p>
				</div>
				<div class="viaJero coMent">
					<img src="../img/viajero2.jpg" alt="Imagen de la pagina HYR" class="imgvia">
					<p class="pSize2" id="pSize2">Laura es una aficionada a la alta montaña y nos conto su experiencia
						"poder encontrar la paz y meditar en los Alpes fue una de las experiencias mas enriquecedoras
						que pude tener en mi vida"</p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div>
			<a href="https://www.facebook.com/" target="_blank"> <img src="../img/facebook.png" class="pieInde"></a>
			<a href="https://www.twitter.com/" target="_blank"><img src="../img/twitter.png" class="pieInde"></a>
			<a href="https://www.instagram.com/" target="_blank" class="pieIcon"><img src="../img/instagram.png"
					class="pieInde"></a>
		</div>

		<div class="pieIndex">
			<strong>
				Direccion: Av. Rivadavia 380
				Cordoba
				Cordoba- Argentina
			</strong>
			<strong>
				Informacion:
				(0351) 155678954
				Karma@travel.com
			</strong>
		</div>
		</section>
	</footer>
	<script src="../js/bootstrap.min.js"></script>
</body>

</html>