<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KamarTaj- Viajes Extraordinarios</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../style/bootstrap.min.css">
</head>

<body>
	<!---Empieza Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="../index.html">
			<img src="../Img/logo.jpg" alt="logo de KamarTaj viajes diferentes" class="imagineSize">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class=" me-auto mb-2 mb-lg-0 menu grid-imagen">
					<li class="nav-item">
						<a class="active fontNav" aria-current="page" href="views/historia y recorrido.html">Historia y
							Recorridos
							<span class="border border-top"></span>
							<span class="border border-right"></span>
							<span class="border border-bottom"></span>
							<span class="border border-left"></span>
						</a>
					</li>
					<li class="nav-item">
						<span>
						<a class="active fontNav" href="../views/consideraciones.html">Consideraciones
							<span class="border border-top"></span>
							<span class="border border-right"></span>
							<span class="border border-bottom"></span>
							<span class="border border-left"></span>
						</a>
						</span>
					</li>
						<li class="nav-item">
							<a class="active fontNav" href="../views/paquetes.html">Paquetes
								<span class="border border-top"></span>
								<span class="border border-right"></span>
								<span class="border border-bottom"></span>
								<span class="border border-left"></span>
							</a>
						</li>
					<li class="nav-item">
						<span>
						<a class="active fontNav" href="../views/contactanos.html">Contactanos
							<span class="border border-top"></span>
							<span class="border border-right"></span>
							<span class="border border-bottom"></span>
							<span class="border border-left"></span>
						</a>
						</span>
					</li>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!---Termina Navbar-->
	<main class="fondoMain">
		<section class="wrapper">
			<div class="container">
			  <div class="row">
				<div class="col text-center mb-5">
				   <h1 class="mainPq">Paquetes de Viaje</h1>
				</div>
			  </div>
			  <div class="paqFlex">
			<div class="row" id="row2">
		   <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-white card-has-bg click-col imGDetail">
				   <img class="card-img d-none" src="../img/imagenSobrenosotros.jpg" alt="imagen descripcion de la carta">
				  <div class="card-img-overlay d-flex flex-column">
				   <div class="card-body">
					  <small class="card-meta mb-2">Viajes de montaña</small>
					  <h4 class="card-title mt-0 "><a class="text-white" herf="#">ESCALADA AL EVEREST Y RECORRIDO DE NEPAL</a></h4>
					 <small><i class="far fa-clock"></i> Montos y detalles del viaje</small>
					</div>
					</div>
				  </div>
				</div>
			</div>
			<div class="row" id="row2">
				<div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-white card-has-bg click-col imGDetail2">
						<img class="card-img d-none" src="../img/desierto.jpg" alt="imagen descripcion de la carta">
					   <div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
						   <small class="card-meta mb-2">Noches del Desierto </small>
						   <h4 class="card-title mt-0 "><a class="text-white" herf="#">RECORRIDO Y ACAMPE EN EL DESIERTO DEL SAHARA</a></h4>
						  <small><i class="far fa-clock"></i> Montos y detalles del viaje</small>
						 </div>
						 </div>
					   </div>
					 </div>
				 </div>
			
				 <div class="row" id="row2">
					<div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-white card-has-bg click-col imGDetail3">
							<img class="card-img d-none" src="../img/selva.jpg" alt="imagen descripcion de la carta">
						   <div class="card-img-overlay d-flex flex-column">
							<div class="card-body">
							   <small class="card-meta mb-2">Recorrido Selvatico</small>
							   <h4 class="card-title mt-0 "><a class="text-white" herf="#">RECORRIDO POR BARCO DEL AMAZONAS Y ACAMPE CON TRIBUS</a></h4>
							  <small><i class="far fa-clock"></i> Montos y detalles del viaje</small>
							 </div>
							 </div>
						   </div>
						 </div>
					 </div>
					 <div class="row" id="row2">
						<div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-white card-has-bg click-col imGDetail4">
								<img class="card-img d-none" src="../img/imagen1.jpeg" alt="imagen descripcion de la carta">
							   <div class="card-img-overlay d-flex flex-column">
								<div class="card-body">
								   <small class="card-meta mb-2">Montañas Europeas</small>
								   <h4 class="card-title mt-0 "><a class="text-white" herf="#">ESCALADA POR LOS ALPES Y RECORRIDO POR SUIZA</a></h4>
								  <small><i class="far fa-clock"></i> Montos y detalles del viaje</small>
								 </div>
								 </div>
							   </div>
							 </div>
						 </div>
						</div>
	</main>
	<footer class="fotSize">
		<div>
			<a href="https://www.facebook.com/" target="_blank"> <img src="../img/facebook.png" class="pieInde"></a>
			<a href="https://www.twitter.com/" target="_blank"><img src="../img/twitter.png" class="pieInde"></a>
			<a href="https://www.instagram.com/" target="_blank" class="pieIcon"><img src="../img/instagram.png"
					class="pieInde"></a>
		</div>

		<div class="pieIndex">
			<strong>
				Direccion: Av. Rivadavia 380
				Cordoba
				Cordoba- Argentina
			</strong>
			<strong>
				Informacion:
				(0351) 155678954
				Karma@travel.com
			</strong>
		</div>
		</section>
	</footer>
	<script src="../js/bootstrap.min.js"></script>
</body>

</html>